.chatApplication{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    padding-top: 50px;
}

@media screen and (max-width: 650px) {
    .chatApplication{
        padding-top: 100px;
    }
}